@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1728120_j9oousbe4op.eot?t=1585721024320'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1728120_j9oousbe4op.eot?t=1585721024320#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABiwAAAI8AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4VQE2AiQDCAsGAAQgBYRtBy0beAXILiEnG+pEgK4wgfBKgy+X1gwADvHwtd/ruW/30/4AK0SViQ5rQBUd9tAKVdWqVqISNb7jy7b63f9aO/F4odzUE9Yi6knly/wVnx3sdVomJUJkQyPREzxDgLKBkjkfgPX76esYWSmp+jyX05tAB3JXfaBc96A1BvUC6sWBFOgeGEVWKIE3jF3wAh8TKCYtNA/2Ty8aA5m9KhCPoS8ag0JAllm6LTQbDmbxTkO7elONt9H346+NaFNpJHbV8fWebmz+4GSl610FhCABHW8gYV1DJs4bE4fagnFtJdExq3Gs8uCHug7s4qgWwf46u7QHjMNk8IO3UoAKHmuqgrFJP4Uor2/Fxa18ub9Sk//el/F0Ure60Hqf2pqvn042NjVQ/0tfE4HgI/5B/m93M/ieIl/9Lxvmor26M/gNsoED2VDYtiprssbRStl9W1FQw54h9VTj6DkzoW10gqtlIkPSNk9mdh0NXZtoattGsebgeNcw0ha5g1VfAGHANyp9viEZ8ENm9hcNY/7QNBAJxWVwYddi3I0iFIwa5CeEKs+M6+BRXH6G/msiKK+I+CukKgyDaznl9AFmSEtsqd58j9mAoTyFffAcJkkOBeURKrYC5mLZtk3TmyyVp42RfQQJDGlA+gRCSi5jgvFsVPn8GeR7lRCoo68ufQWRSjg7cFmcAeSBNhvU9yivVN74PIwZwCC5FNgH81AikQNF87wIUpglmBArLLOdYWao1tpen/7dCShsUxVOXZKeoo9GAwAA') format('woff2'),
  url('//at.alicdn.com/t/font_1728120_j9oousbe4op.woff?t=1585721024320') format('woff'),
  url('//at.alicdn.com/t/font_1728120_j9oousbe4op.ttf?t=1585721024320') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1728120_j9oousbe4op.svg?t=1585721024320#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 19px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wjx:before {
  content: "\e64a";
  color: #ff962f;
}